@font-face {
    font-family: 'my-font';
    src: url('./assets/fonts/Sanseriffic.otf'); /* Ajusta la ruta según tu estructura */
    font-weight:normal;
    font-style:normal;
}

:root{
    --marronClaro:#ede0d4;
    --marronOscuro:#b07d62;
    --bordeClaro:#e7dada;
}

body {
    overflow-x: hidden; /* Previene el desplazamiento horizontal */
}

main{
    font-family: 'my-font';
}

header{
    background-color: var(--marronOscuro);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0; /* Asegúrate de que esté en la parte superior */
    left: 0; /* Asegúrate de que se alinee a la izquierda */
    right: 0; /* Asegúrate de que se alinee a la derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    font-weight: 700;
}

a{
    text-decoration: none;
    color: black;
}

.logo-header{
    width: 100px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#navbarNav.show {
    background-color: var(--marronOscuro);
    border: 1px solid black;
    border-radius: 10px;
    right: 0;
    top: 50px; 
    z-index: 1000; 
    padding: 20px;
    position: absolute;
}

.cabecera{
    background-color: var(--marronClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.cabecera img{
    width: 680px;
    padding-top: 46px;
}

.h1{
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: 25px;
}

#galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cuadro{
    border: 1px solid var(--bordeClaro);
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: 500;
}

.cuadro img{
    margin-bottom: 10px;
}

.btn{
    border: 1px solid var(--bordeClaro);
    border-radius: 0;
    margin-bottom: 50px;
}

#redes{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--bordeClaro);
    background-color: var(--marronOscuro);
}

.media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.logo-footer img{
    width: 200px;
}

.media-img{
    width: 60px;
    font-size: 53px;
    color: #1877f2;
}